@media only screen and (max-width: 1599px) {
	/* Checkout */
	.checkoutPage .woocommerce .scell table.shop_table tbody td {height: 78px;}
	.checkoutPage .woocommerce .scell table.shop_table tbody td.product-name {padding-left: 93px!important;}
	.checkoutPage .woocommerce .scell table.shop_table tbody td .cartItemImg img {width: 78px;}
	.cartPage .woocommerce table.shop_table.shop_table_responsive tbody tr.order-total td {padding-top: 10px!important; line-height: 22px!important;}
	.cartPage .woocommerce table.shop_table.shop_table_responsive tbody tr.order-total td strong,
	.checkoutPage .woocommerce .scell table.shop_table.woocommerce-checkout-review-order-table tfoot tr.order-total td strong {display: block;}
	.checkoutPage .woocommerce .scell table.shop_table.woocommerce-checkout-review-order-table small, .woocommerce-cart .cart-collaterals .cart_totals table small {font-size: 14px!important;}
}
@media only screen and (max-width: 1405px) {
	/* Body, wrapper */
	body {min-width: 1260px;}
}
@media only screen and (max-width: 1365px) {
	.homeSlider .fcell, .uni-location-map {width: 60%;}
	.homeSlider .scell, .contactInfo {width: 40%;}
	.homeAboutUs img {margin-bottom: 26px;}
	.homeAboutUs p {margin-bottom: 45px;}
	
	/* Events */
	.eventTime {left: 6%;}
	.eventItem h3 {font-size: 30px;}
	/* Checkout */
	.checkoutPage .woocommerce .scell table.shop_table tbody td {height: 58px;}
	.checkoutPage .woocommerce .scell table.shop_table tbody td.product-name {padding-left: 73px!important;}
	.checkoutPage .woocommerce .scell table.shop_table tbody td .cartItemImg img {width: 58px;}
	.cartPage .cart_totals table .shipping #shipping_method li label, .checkoutPage .woocommerce .scell table.shop_table tfoot td label {font-size: 14px;}
	.cartPage .cart_totals table .shipping #shipping_method span.amount, 
	.checkoutPage .woocommerce .scell table.shop_table tfoot td span.amount {display: inline!important;min-width: 10px!important;margin-left: 6px!important;}
	.cartPage .cart_totals table .shipping #shipping_method span.amount,
	.checkoutPage .woocommerce .scell table.shop_table tfoot .shipping span.amount {font-size: 16px!important;}

}
@media only screen and (max-width: 1279px) {
	/* Body, wrapper */
	body {min-width: 1004px;}
	.wrapper, .singleProductWrap .wrapper {width: 1004px;}
	/* Home slider */
	#About, .homeSlider {height: auto!important;}
	.homeSlider .fcell {width: 100%;}
	.homeSlider .scell {position: relative;top: auto;right: auto; float: left;width: 100%;height: auto!important; line-height: 0px!important;padding: 80px 100px;}
	.homeSlider + .uniHomeAbout2 {padding-top: 0px;}
	.uniHomeAbout2 {padding-bottom: 80px;}
	.screenDesc2 h3 {line-height: 66px;font-size: 60px;}
	
	/* Home benefits */
	.benefitsWrap br {display: none;}
	/* Home event */
	.eventTime {left: 30px;opacity: 1;}
	.attendBtn {right: 30px;opacity: 1;}
	/* Footer */
	.footerSocialItem {width: auto;margin: 0 10px;}
	/* Page header img */
	.pageHeaderImg h1 {font-size: 60px;}
	/* Single product */
	.productGallery {width: 542px!important;}
	.galleryThumb {width: 100px;}
	.productGalleryWrap {width: 422px;height: 422px;}
	/* Checkout */
	.checkoutPage .woocommerce .scell table.shop_table.woocommerce-checkout-review-order-table tbody td {height: auto;padding-bottom: 5px!important;}
	.checkoutPage .woocommerce .scell table.shop_table tbody td.product-name {padding-top: 98px!important;padding-left: 0!important;}
	.thankYouWrap .order_details thead th:first-child {width: 50%!important;}
	/* Blog */
	.contentLeft {width: 704px;}
	.postItemV2Img {width: 284px;}
	.postItemV2Content {padding-top: 6px;}
	.relatedPostItem {width: 221.3333px; margin-left: 20px;}
	/* Single post */
	.singlePageContentV2 .comment-form-author, .singlePageContentV2 .comment-form-email, .singlePageContentV2 .comment-form-url {width: 221.3333px;}
	
	/*
	.page-template-templ-events-php .eventItem, .page-template-templ-events-tickera .eventItem {background-color: rgba(0, 0, 0, 0);border-color: rgba(0, 0, 0, 0)!important;}
	.page-template-templ-events-php .eventItem .eventWhiteOverlay, .page-template-templ-events-tickera .eventItem .eventWhiteOverlay {background-color: rgba(0, 0, 0, 0.35);}
	.page-template-templ-events-php .eventItem .eventTime p, .page-template-templ-events-php .eventItem .eventTime strong,
	.page-template-templ-events-tickera .eventItem .eventTime p, .page-template-templ-events-tickera .eventItem .eventTime strong {color: #fff;}
	.page-template-templ-events-php .eventItem h3, .page-template-templ-events-tickera .eventItem h3 {color: #fff;}
	.page-template-templ-events-php .eventItem .attendBtn, 
	.page-template-templ-events-php .eventItem .attendBtn:visited, 
	.page-template-templ-events-tickera .eventItem .attendBtn, 
	.page-template-templ-events-tickera .eventItem .attendBtn:visited {color: #2ebd7f;}
	.page-template-templ-events-php .eventItem .attendBtn svg path, 
	.page-template-templ-events-tickera .eventItem .attendBtn svg path {fill:#2ebd7f;}
	*/
	/* About Us page */
	.uni-our-team-wrap .wrapper {width: 900px;}
	.uni-about-us-wrap {padding-bottom: 0;}
	.uni-about-us-wrap .uni-fcell {width: 480px;min-height: 505px;}
	.uni-about-us-wrap .uni-scell {width: 494px;min-height: 475px;line-height: 475px; padding: 0 40px;}
	.uni-about-us-wrap .uni-fcell .singlePostWrap .alignleft {width: 225px;}
	.uni-about-us-wrap .uni-fcell .singlePostWrap .alignright {width: 225px;}
	
	/* Membership Plans page */
	.uniPricingItem .fcell {width: 450px;padding-right: 30px;}
	.uniPricingItem .scell {width: 494px;padding: 40px 30px 35px 0;}
	
	.uni-ec-cobot-plans-shortcode-wrapper .uniPricingItem {padding: 40px 34px 30px 34px;}
	.uni-ec-cobot-plans-shortcode-wrapper .uniPricingItem .scell {width: 100%;padding: 0px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
}
@media only screen and (max-width: 1023px) {
	/* Body */
	body {min-width: 758px;}
	body.animated {left: -258px;}
	body.animated #header .headerWrap {left: -258px!important;}
	.wrapper, .singleProductWrap .wrapper {width: 758px;}
	/* Logo */
	.logo {border-right: 0;}
	/* Main menu */
	.mainMenu, .bookATour {display: none;}
	.showMobileMenu {display: block;}
	.mobileMenu {display: block;}
	/* Container */
	.uni-container,
	.uni-no-footer-social .uni-container {padding-bottom: 0;}
	/* Home */
	.blockTitle {padding-top: 0;line-height: 160px;}
	.screenDesc h1 {line-height: 66px;margin-bottom: 36px; font-size: 60px;}

	/* Home event */
	.eventItem {padding: 60px 150px 60px 212px;}
	.eventTime {left: 20px;}
	.attendBtn {right: 20px;}
	.eventItem h3 {line-height: 34px; font-size: 26px;}
	/* Home slider */
	.screenDesc2 {padding: 0 60px;}
	.bx-wrapper .bx-controls-direction a.bx-prev {left: 20px;}
	.bx-wrapper .bx-controls-direction a.bx-next {right: 20px;}

	/* Home contact map */
	.homeContact {height: auto;}
	.uni-location-map, .uni-contact-page-map-wrap .uni-location-map {float: left; width: 100%;height: 400px!important;}
	.uni-location-map .uni-map-canvas, .uni-contact-page-map-wrap .uni-location-map .uni-map-canvas {height: 400px!important;}
	.contactInfo, .uni-contact-page-map-wrap .contactInfo {float: left;position: relative;right: auto;top: auto!important;width: 100%;height: auto!important;line-height: 0;padding: 80px 0;text-align: center;}
	.uni-contact-info-item {text-align: left;}
	.contactInfoDesc h3:before, .uni-contact-page-map-wrap .contactInfoDesc h3:before {left: 50%;margin-left: -16px;}
	/* Instagram */
	.sbi_item {width: 33.3333%;}
	.instagramHashtag h3 {height: 40px;margin-top: -20px;}
	.instagramHashtag h3 a {line-height: 40px;font-size: 40px;}

	/* Footer */
	#footer {position: relative;bottom: auto;left: auto;height: auto;}
	.uni-no-footer-social #footer {height: auto;}
	.footerSocial {padding: 30px 0;margin-bottom: 22px;}
	.footerSocialItem {width: 37px;height: 37px;margin: 0 33px; vertical-align: top;}
	.footerSocialItem a {width: 0; padding-left: 37px;overflow: hidden;}
	.uni-no-footer-social .footerMenu {padding-top: 22px;}
	.footerMenu {position: relative;left: auto;bottom: auto!important;margin-left: 0!important;margin-bottom: 18px;}
	
	.footerMenu ul {width: 100%;margin: 0 auto;padding: 0 20px; text-align: center;white-space: normal; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
	.footerMenu ul li {margin: 0 10px 5px 10px;}
	.footerMenu ul li.logoNext {margin: 0 10px 5px 10px!important;}
	.footerMenu ul li a {display: inline-block;}
	.footerLogo {margin-bottom: 16px;}
	.uni-no-footer-social .footerLogo {margin-top: 0!important;}
	.copyright {padding-bottom: 23px;}

	/* Shop */
	.pageHeaderImg {height: 360px;}
	.pagePanel {padding: 0 20px 0 0;}
	.productFilter {padding-left: 5px;}
	.productFilter li {margin: 0 15px 10px;}
	.woocommerce-breadcrumb {margin: 0 20px!important;}
	form.woocommerce-ordering {right: 20px;}
	.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {margin-left: 20px!important;margin-right: 20px!important;}
	/* My account */
	.woocommerce-account .singlePostWrap .woocommerce h2,
	.woocommerce-account .singlePostWrap .woocommerce h3,
	body .woocommerce form.edit-account fieldset legend {line-height: 50px; font-size: 36px;}

	/* Checkout */
	.checkoutPage {padding: 0 20px 35px;}
	.checkoutPage .fcell {width: 50%;padding-right: 15px;}
	.checkoutPage .mcell {width: 50%;padding-left: 15px;padding-right: 0;}
	.checkoutPage .scell {width: 100%;padding-left: 0;padding-top: 40px;}

	/* Cart */
	.cartProduct {padding-left: 148px;}
	.cartPage table.shop_table.cart td:first-child {padding-left: 20px!important;}
	.cartPage table.shop_table.cart td:last-child {padding-right: 20px!important;}
	.woocommerce-page .cart-collaterals .cart_totals {width: 100%!important;padding: 0 20px!important; margin-right: 0px!important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}

	/* Blog */
	.contentLeft {width: 420px;margin-left: 19px;}
	.postItemV2Img {float: none; width: 420px;margin: 0 auto;}
	.postItemV2Content {float: none; width: 420px;margin: 0 auto;padding-top: 16px;}
	.sidebarRight {margin-right: 19px;}

	/* Single post */
	.singlePageContent .wrapper {width: 758px;}
	.archive-desc p {padding: 0 40px;}
	.singleMeta h1 {line-height: 50px; font-size: 36px;}
	.relatedPostItem {width: 260px;margin-left: 0!important;margin-bottom: 30px!important;}
	.singlePostWrap blockquote, .comment-content blockquote {margin-left: 10px!important;padding-left: 20px!important;}
	.singlePostWrap dl, .comment-content dl {margin-left: 10px;}
	.comment-form-author, .comment-form-email, .comment-form-url {width: 239.3333px;}
	.singlePageContentV2 .comment-form-author, .singlePageContentV2 .comment-form-email, .singlePageContentV2 .comment-form-url {width: 100%!important;margin-left: 0!important;}
	.singlePageContentV2 #commentform input[type="text"], .singlePageContentV2 #commentform textarea {margin-bottom: 10px!important;}

	/* Single product */
	.productGallery {width: 680px !important;margin-left: 39px;}
	.galleryThumb {width: 120px;}
	.productGalleryWrap {width: 540px;height: 540px;}
	.singleProductDesc {padding-top: 40px;margin-right: 163px;}

	.loaderWrap {display: none!important;}

	/* About Us page */
	.uni-about-us-wrap .wrapper {width: 570px;}
	.uni-about-us-wrap .uni-fcell,
	.uni-about-us-wrap .uni-scell {width: 100%;}
	.uni-about-us-wrap .uni-fcell .singlePostWrap .alignleft,
	.uni-about-us-wrap .uni-fcell .singlePostWrap .alignright {width: 270px;}

	.uni-our-team-wrap .wrapper {width: 600px;}

	/* Membership Plans page */
	.uniPricing .wrapper {width: 470px;}
	.uniPricing.uniPricingCobot .wrapper {width: 758px;}
	.uniPricingItem .fcell {width: 100%;padding: 0;}
	.uniPricingItem .scell {width: 100%;padding: 40px 30px 35px 30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}

	/* Contact page */
	.uni-contact-page-map-wrap {height: auto!important;}


}
@media only screen and (max-width: 929px) {
	.uniHomeAboutWrap {width: 100%;padding-left: 80px;padding-right: 80px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
}
@media only screen and (max-width: 768px) {
	.woocommerce-account .singlePostWrap table.shop_table.shop_table_responsive.my_account_orders td {border-top: 0!important; }
	.woocommerce-account .singlePostWrap table.shop_table.shop_table_responsive.my_account_orders tr:first-child td:first-child {border-top: 1px solid #e5e5e5!important;}
	.woocommerce-account .singlePostWrap table.shop_table.shop_table_responsive.my_account_orders tr:nth-child(2n) td {background: none!important;}
	.woocommerce-account .singlePostWrap table.shop_table.shop_table_responsive.my_account_orders tr td.order-actions {text-align: right!important;}
	.woocommerce-account .woocommerce #customer_login.col2-set .col-1 {float: left;width: 48%;}
	.woocommerce-account .woocommerce #customer_login.col2-set .col-2 {float: right;width: 48%;}
	
}
@media only screen and (max-width: 767px) {

	.logo img.logo-white, .logo img.logo-black  {
	padding-left: 20px !important;	
	}
	/* Body, wrapper */
	body {min-width: 470px;}
	.wrapper, .singleProductWrap .wrapper, .singlePageContent .wrapper {width: 470px;}

	/* Home slider */
	.homeSlider .scell {padding: 50px 40px;}
	.uniHomeAbout2 {padding: 50px 0px;}
	.uniHomeAboutWrap {padding-left: 40px;padding-right: 40px;}
	.screenDesc2 p {line-height: 22px;font-size: 16px;}
	.screenDesc2 h3 {line-height: 46px;font-size: 40px;}

	/* Home benefits */
	.benefitItem {width: 200px;}

	/* Home pricing */
	.pricingPlanItemDescWrap {min-height: 39px!important;max-height: 100000px!important;}
	/* Home events */
	.eventItem {padding: 80px 20px 60px;}
	.eventTime {top: 34px;margin-top: 0;}
	.attendBtn {bottom: 15px;top: auto;margin-top: 0;}
	
	/* Home contact */
	.uni-location-map, .uni-location-map .uni-map-canvas, .uni-contact-page-map-wrap .uni-location-map, .uni-contact-page-map-wrap .uni-location-map .uni-map-canvas {height: 200px!important;}
	.contactInfo,
	.uni-contact-page-map-wrap .contactInfo {padding: 50px 0;}

	/* subscribeBox */
	.subscribeBox {padding: 50px 0;}
	.subscribeIcon {margin-bottom: 13px;}
	.subscribeBox h3 {margin-bottom: 19px; font-size: 22px;}
	.subscribeBox form {padding: 0 20px;}
	.subscribeInput, .widget-text input, .submit_button { width: 100%;margin-bottom: 20px;margin-right: 0;}
	.widget-text {display: block;}
	.subscribeBtn, .submit_button {margin-left: 0;}

	/* Footer */
	.footerSocialItem {margin: 0 3px;}

	/* Remodal */
	.thmRemodalClose {top: 0;right: 0; border: 10px solid #fff;background-color: #fff;}
	.joinFormWrap, .priceFormWrap, .bookingFormWrap, .eventRegistrationForm {padding: 0 30px;}
	.joinFormWrap .inputWrap, .bookingFormWrap .inputWrap, .eventRegistrationForm .inputWrap, .priceFormWrap .inputWrap {width: 100%;padding: 0!important;}

	/* 404 */
	.page404Wrap {padding-top: 42px;padding-bottom: 70px;}

	/* Blog */
	.postItem {min-height: 10px;}
	.archive-desc p {padding: 0 20px;} 
	.contentLeft {margin-left: 25px;}
	.sidebarRight {margin-right: 100px;}
	
	/* Cart */
	.cartProduct {line-height: 80px;min-height: 80px;padding-left: 90px;}
	.cartProductImg, .uni-wishlist-item-image {height: 80px;width: 80px;}
	.cartProductImg img, .uni-wishlist-item-image img {width: 80px!important;max-width: 80px!important;}
	.cartPage table td.product-price small, .cartPage table td.product-subtotal small {display: none!important;}
	.cartPage table td.actions {padding: 20px 20px 19px !important;} 
	.woocommerce table.cart td.actions .coupon {width: 100% !important;float: none !important;padding-bottom: 10px !important;}
	.coupon {padding-bottom: 10px!important;}
	.cartPage table.shop_table.cart th:first-child {width: 40%;}

	/* Shop */
	.pageHeaderImg {height: 260px;}
	.productFilter {width: 86%;}
	.woocommerce-breadcrumb {width: 80%;}
	.term-description {padding-left: 20px!important;padding-right: 20px!important;}
	form.woocommerce-ordering {float: none!important; position: relative;top: auto;right: 0;padding: 0 20px!important; margin: 0 0px 20px 0!important;}
	form.woocommerce-ordering select {float: right!important;}
	
	/* My account */
	body .woocommerce form.login p.form-row.form-row-wide {width: 100%!important;}
	label[for="rememberme"] {margin: 10px 0 0 0!important; display: inline-block!important;}
	.woocommerce-account .singlePostWrap .woocommerce h2,
	.woocommerce-account .singlePostWrap .woocommerce h3,
	body .woocommerce form.edit-account fieldset legend {line-height: 36px; font-size: 24px;}
	body.woocommerce-edit-address .woocommerce form .form-row label, 
	.woocommerce form.lost_reset_password .form-row label, 
	.woocommerce form.edit-account .form-row label, 
	.woocommerce form.checkout_coupon .form-row label, 
	.woocommerce form.login .form-row label, 
	.woocommerce form.register .form-row label {line-height: 20px!important;margin-bottom: 10px!important;}
	.woocommerce-account .woocommerce #customer_login.col2-set .col-1,
	.woocommerce-account .woocommerce #customer_login.col2-set .col-2 {float: none;width: 100%;}

	/* Checkout */
	.checkoutPage .fcell {width: 100%;padding-right: 0!important;}
	.checkoutPage .mcell {width: 100%;padding-top: 40px;padding-left: 0!important;}
	.checkoutPage .scell {width: 100%;}
	.checkoutPage .woocommerce form.checkout_coupon, .checkoutPage .woocommerce form.login {padding: 20px!important;}

	/* Page header img */
	.pageHeaderImg h1 {line-height: 60px; font-size: 50px;} 

	/* Single product */
	.productGallery {width: 100%!important; margin-left: 0!important;}
	.galleryThumb {width: 100px;}
	.galleryThumbItem {margin-bottom: 10px;}
	.galleryThumbItem:last-child {margin-bottom: 0;}
	.productGalleryWrap {width: 350px;height: 350px;margin-top: 40px;}
	.singleProductDesc {width: 100%!important; margin-right: 0!important;}
	.single-product .woocommerce-tabs .entry-content {width: 470px;}
	#review_form #commentform .comment-form-author, #review_form #commentform .comment-form-email {width: 100%!important;margin-left: 0!important;}

	/* Single event */
	.singleEventDetails .fcell {width: 100%;-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}
	.singleEventDetails .scell {width: 100%;-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;}
	.eventDetailItem {text-align: left;}

	/* Single post */
	.comment-form-author, .comment-form-email, .comment-form-url {width: 100%!important;margin-left: 0!important;}
	#commentform input[type="text"], #commentform textarea {margin-bottom: 10px!important;}

	/* Tickera */
	.tickera_additional_info {padding: 0 10px;}
	.tickera_buyer_info {width: 100%; padding-right: 0px;}
	.tickera_owner_info {width: 100%;padding-left: 0px;}
	#tickera_cart .tickera-button#apply_coupon {float: right;width: 140px!important;} 
	#tickera_cart .tickera-button#update_cart {float: right;width: 140px!important;margin-top: 10px;}
	.ticket-quantity .quantity {padding: 0px;margin: 0 7px;}
	.tickera-checkout tbody tr td.ticket-quantity {padding-left: 10px!important;padding-right: 10px!important;}
	
	/* About Us page */
	.uni-about-us-wrap .wrapper {width: 440px;}
	.uni-about-us-wrap .uni-fcell {min-height: 10px;}
	.uni-about-us-wrap .uni-scell {padding: 0 20px;}
	.uni-about-us-wrap .uni-fcell .singlePostWrap .alignleft, .uni-about-us-wrap .uni-fcell .singlePostWrap .alignright {width: 205px;}

	.uni-our-team-wrap .wrapper {width: 100%;}
	.uni-our-team-item.uni-with-desc {min-height: 10px;margin-bottom: 40px;}

	/* Membership Plans page */
	.uniPricing .wrapper {width: 440px;}
	.uniPricing.uniPricingCobot .wrapper {width: 440px;}
	.uniPricingItem .scell {padding: 30px 20px 25px 25px;}
	.uni-ec-cobot-plans-shortcode-wrapper .uniPricingItem {padding: 30px 30px 24px 26px;}

}
@media only screen and (max-width: 609px) {
	/* Contact page */
	.uni-contact-form-wrap {width: 100%;padding: 100px 20px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
}
@media only screen and (max-width: 479px) {

	/* Body, wrapper */
	body {min-width: 310px;}
	.wrapper, .singleProductWrap .wrapper, .singlePageContent .wrapper {width: 310px;}
	/* First screen */
	.screenDesc h1 {line-height: 36px;margin-bottom: 30px;font-size: 30px;}
	/* Home slider */
	.homeSlider .scell {padding: 30px 20px;}
	.uniHomeAbout2 {padding-bottom: 30px;}
	.uniHomeAboutWrap {padding-left: 20px;padding-right: 20px;}
	.screenDesc2 p {line-height: 20px; font-size: 15px;}
	.secondScreen .subTitle {
		line-height: 22px; font-size: 22px;
	}
	.screenDesc2 h3 {line-height: 36px; font-size: 30px;}
	/* Benefits */
	.benefitsWrap {padding-bottom: 20px;}
	/* Second screen */
	.secondScreen {height: 400px; min-height: auto;}
	
	/* Pricing plans */
	.pricingPlanItem {width: 310px; margin-left: 0;margin-right: 0;}
	/* Home shop */
	.blockTitle {line-height: 120px;}
	.homeShop {padding-bottom: 40px;}
	.shopItemsWrap li {margin-left: 5px;margin-right: 5px;}
	.shopLink {margin-top: 10px;}
	/* Home events */
	
	/* Blog */
	#homeBlog {padding-bottom: 20px;}
	.postItem {width: 310px;margin-left: 0;margin-right: 0;}
	.contentLeft {width: 310px; margin-left: 0px;}
	.postItemV2Img, .postItemV2Content {width: 280px;}
	.sidebarRight {width: 310px; margin-right: 0px;} 

	/* Home contact */
	.contactInfo {padding: 40px 20px;}
	.contactInfoDesc p br {display: none;}
	/* subscribeBox */
	.subscribeBox {padding: 30px 0;}
	.subscribeBox h3 {font-size: 20px;}
	.subscribeBox form {padding: 0 5px;}
	.subscribeBtn {width: 100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
	
	/* Instagram */
	.sbi_item {width: 100%;}
	.instagramHashtag {display: none;}

	/* Footer */
	.footerMenu ul {width: 310px;}

	/* Remodal */
	.remodal {padding-bottom: 20px;}
	.remodalFormWrap h3 {margin-bottom: 22px;}
	.remodalFormWrap p {margin-bottom: 25px;}
	.joinFormWrap, .priceFormWrap, .bookingFormWrap, .eventRegistrationForm {padding: 0 20px;}
	.joinFormWrap .textareaWrap, .priceFormWrap .textareaWrap, .bookingFormWrap .textareaWrap, .eventRegistrationForm .textareaWrap,
	.joinFormWrap .inputWrap, .priceFormWrap .inputWrap, .bookingFormWrap .inputWrap, .eventRegistrationForm .inputWrap {margin-bottom: 20px;}

	/* 404 */
	.page404Wrap p {line-height: 34px;}

	/* Cart */
	.cartPage table td:first-child {padding-left: 5px!important;}
	.cartProductImg, .uni-wishlist-item-image {width: 50px;height: 50px;}
	.cartProductImg img, .uni-wishlist-item-image img {width: 50px !important;max-width: 50px !important;}
	.cartProduct {line-height: 26px;min-height: 26px;padding-left: 0px;padding-top: 60px;}
	.cartPage table td.product-price, .cartPage table td.product-subtotal {white-space: nowrap;word-wrap: normal;}
	.coupon input[type="text"] {width: 100%!important;margin-right: 0!important;margin-bottom: 10px!important; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
	.coupon input[name="apply_coupon"] {width: 100%!important;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
	.actions input[name="update_cart"] {width: 100%!important;float: left!important;}
	.cartPage table.shop_table.cart td {padding-top: 30px!important;padding-bottom: 20px!important;}
	.cartPage table.shop_table.cart th:first-child {width: 30%;} 

	/* Mini cart */
	.contentWrap.miniCartOn {-webkit-transform:translate3d(-310px, 0px, 0px);-moz-transform:translate3d(-310px, 0px, 0px);-ms-transform:translate3d(-310px, 0px, 0px);-o-transform:translate3d(-310px, 0px, 0px);transform:translate3d(-310px, 0px, 0px);}
	.miniCartPopup {right: -310px;width: 309px;}
	.miniCartPopupHead {padding-left: 20px;}
	.closeCartPopup {right: 20px;}
	.miniCartItemWrap {padding: 0 20px;}
	/* Shop */
	.productFilter {width: 80%;}
	.woocommerce-breadcrumb {width: 70%;}
	.pageHeaderImg h1 {line-height: 50px;font-size: 40px;}
	/* My account */
	body.woocommerce-edit-address .woocommerce form p.form-row,
	body .woocommerce form.lost_reset_password p.form-row, 
	body .woocommerce form.edit-account p.form-row {width: 100%!important;}

	/* Checkout */
	.checkoutPage {padding: 0 5px 40px;}
	.checkoutPage .woocommerce .scell table.shop_table tbody td {height: auto;}
	.checkoutPage .woocommerce .scell table.shop_table tbody td .cartItemImg {width: 50px !important;}
	.checkoutPage .woocommerce .scell table.shop_table tfoot .shipping td p {min-width: 100px;}
	.woocommerce #payment #place_order {width: 100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
	.checkoutPage .woocommerce form.checkout_coupon, .checkoutPage .woocommerce form.login {padding: 15px!important;} 
	.checkoutPage .woocommerce form.login .form-row .button,
	.checkoutPage .woocommerce form.checkout_coupon .form-row .button {min-width: 100px!important;padding: 0 14px!important;}
	
	/* Single post */
	.singleMeta h1 {line-height: 46px;font-size: 36px;}
	.relatedPostItem {float: none; margin-left: auto!important;margin-right: auto!important;}
	
	/* Single product */
	.productGallery {margin-bottom: 0!important;}
	.galleryThumb {width: 50px;} 
	.productGalleryWrap {width: 250px;height: 250px;margin-top: 0;}
	.single-product .woocommerce-tabs .entry-content {width: 310px;} 

	/* Tickera */
	#tickera_cart #coupon_code.tickera-input-field {width: 100%;margin-right: 0;}
	#tickera_cart .tickera-button#apply_coupon {float: left;width: 100%!important;margin-top: 10px;} 
	#tickera_cart .tickera-button#update_cart {float: right;width: 100%!important;}
	.tickera-checkout thead tr th, .tickera-checkout tbody tr td {padding-left: 10px!important;padding-right: 10px!important;}
	.tickera-checkout tbody tr td.actions {padding: 10px!important;}

	/* About Us page */
	.uni-about-us-wrap .wrapper {width: 300px;}
	.uni-about-us-wrap .uni-fcell .singlePostWrap .alignleft, .uni-about-us-wrap .uni-fcell .singlePostWrap .alignright {float: none; width: 270px;margin-left: auto;margin-right: auto;}
	.uni-about-us-wrap .uni-scell {padding-bottom: 30px;}

	/* Membership Plans page */
	.uniPricing .wrapper, .uniPricing.uniPricingCobot .wrapper {width: 300px;}
	.uniPricingItem .scell {padding: 30px 15px 25px 20px;}
	.uni-ec-cobot-plans-shortcode-wrapper .uniPricingItem {padding: 24px 20px 24px 20px;}
}
@media only screen and (max-width: 427px) {
	.contactInfoDesc {width: 100%;padding: 0 20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
}